body{
    background-color: black;
    color: #fff;
    padding: 0;
    margin: 0;
}
main{
    display: grid;
    place-items: center;
    min-height: 100vh;
    justify-content: end;
    position: relative;
}
#eyes, #eyes img{
    position: absolute;
}
#anchor{
    width: 80%;
}

/*Game Page*/
#canvas{
    background-color: white;
}

ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
.left{
    display: table-cell;
    width: 25%;
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
}
.mid{
    display: table-cell;
    width: 50%;
    text-align: middle;
    vertical-align: middle;
    word-wrap: break-word;
}
.right{
    display: table-cell;
    width: 25%;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word;
}





